header {
    background-color: blanchedalmond;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 25px;
}

.start-button {
    font-weight: bold;
    padding: 15px;
}

.score-card {
    display: flex;
    background-color: beige;
    border-color: darkolivegreen;
    border-style: solid;
    margin-right: 40%;
    margin-left: 40%;
    margin-bottom: 1%;
    justify-content: center;
}

.score {
text-align: center;
}

.quiz-container {
    background-color: beige;
    border-color: darkolivegreen;
    display: flex-inline;
    border-style: solid;
    margin: 2% 15% 2% 15%;
    text-align: center;
}

.question-text {
    padding: 5px;
    margin: 15px;
    font-weight: bold;
    font-size: 150%;
}

.options {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

#option-button-one {
    padding: 5px;
}

#option-button-two {
    padding: 5px;
}

#option-button-three {
    padding: 5px;
}

#option-button-four {
    padding: 5px;
}

.result {
    font-size: 90%;
    margin-bottom: 1%;
}

.timer-card {
    background-color: beige;
    border-color: darkolivegreen;
    display: flex-inline;
    border-style: solid;
    margin: 2% 35% 2% 35%;
    text-align: center;
}

.timer {
    margin: 10px;
    font-size: 200%;
}

.saved-score-card {
    background-color: beige;
    border-color: darkolivegreen;
    display: flex-inline;
    border-style: solid;
    margin: 2% 35% 2% 35%;
    text-align: center;
}

.saved-score-card li {
    list-style-type: none;
    text-align: left;
    font-weight: bold;
}

.saved-score {
    font-size: 115%;
}

