header {
    border-radius: 5px;
    text-align: center;
    margin: 20px;
    padding: 25px;
}

.start-button {

}

.score-card {
    border-style: solid;
    margin: 10px 700px 50px 700px;
    text-align: center;
}

.score {

}

.quiz-container {
    border-style: solid;
    margin: 20px 500px 60px 500px;
    text-align: center;
}

.question-text {
    padding: 5px;
    margin: 15px;
}

.options {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

#option-button-one {
    padding: 5px;
}

#option-button-two {
    padding: 5px;
}

#option-button-three {
    padding: 5px;
}

#option-button-four {
    padding: 5px;
}

.result {
    padding: 10px;
}

.timer-card {
    border-style: solid;
    margin: 10px 800px 50px 800px;
    text-align: center;
}

.timer {
    margin: 10px;
    font-size: 200%;
}

.saved-score-card {
    border-style: solid;
    margin: 10px 700px 50px 700px;
    text-align: center;
}

.saved-score-card li {
    list-style-type: none;
    text-align: left;
    font-weight: bold;
}

.saved-score {
}

